:root,
body {
  font-family: 'Inter', sans-serif !important;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

:root {
  font-size: 16px;
}

.leaflet-control-layers-overlays {
  font-size: larger !important;
}

.leaflet-tooltip {
  font-size: larger !important;
}

.custom-legend-colour {
  vertical-align: middle !important;
  border-radius: 50%;
  outline-width: 1px;
  outline-style: solid;
  outline-color: black;
}

.custom-legend-label {
  display: inline-block;
  margin-top: 4px;
}

.leaflet-popup-content-wrapper {
  height: 569px;
}
